/* CUSTOM PROPS */
:root {
  --pink:rgba(249, 205, 196, 0.60);
  --green:rgba(106, 221, 204, 0.60);
  --grey:rgba(67, 69, 88, 0.60);
}

:root[data-theme="light"] {

}

:root[data-theme="dark"] {

}



/* GLOBAL */
body {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  font-family: "Poppins","Arial", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  background-color: #C8DCE5;
  color: #fff;
}

img {
  height: auto;
}


/* AUTOFILL-STYLES */
/*input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-color: transparent;
  -webkit-text-fill-color: inherit;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}*/


/* PLACEHOLDER-STYLES */
/*::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder {
  color: rgba(52, 49, 61, 0.5);
  opacity: 1;
}*/


/* VISUALLY-HIDDEN */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* CONTAINER */
.container {
  width: 100%;
  max-width: 1440px;
  padding-left: 100px;
  padding-right: 100px;
  margin-left: auto;
  margin-right: auto;
}


/* MAIN-CONTENT */
.main-content {
  flex-grow: 1;
}

header{
  padding-top: 50px;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 90px;
}
.navbar-list{
  display: flex;
}
.nav-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin-right: 260px;
}

.nav-list-item:not(:last-child){
  margin-right: 90px;
}
.nav-list-item a {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  color: #fff;
}
.search-bag {
  display: flex;
}
.button{
  background:none;
  border: none;
}
.vertical-line {
  width: 0;
  height: 22px;
  border: 1px solid #fff;
  margin: 0 20px;
}
.hero{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero-text {
  width: 680px;
  font-size: 64px;
  font-weight: 500;
  line-height: 86px;
  margin-bottom: 77px;
}
.hero-text b {
  font-weight: 700;
}
.buy-now {
  padding: 17px 73px;
  color: #fff;
  border: 3px solid #FFF;
  border-radius: 100px;
}
.social-links {
  display: flex;
  flex-direction: column;
  padding: 0;
  align-items: center;
}
.social-list-item {
  list-style: none;
}
.social-list-item:not(:last-child){
  margin-bottom: 32px;
}
.social-list{
  padding: 0;
}
.end-header {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.indicator {
  display: flex;
  align-items: center;
}
.indicator-page {
  margin: 0 16px;
}
.watches-page {
  display: flex;


}
.watch {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  width: 131px;
  height: 98px;
  margin-right: 27px;
}
.pseudo-watch{
  position: absolute;
  border-radius: 10px;
  width: 131px;
  height: 70px;
  top: 28px;
  background-color: rgba(67, 69, 88, 0.60);
}
#grey{
  background-color: var(--grey);
}
#green{
  background-color: var(--green);
}
#pink{
  background-color: var(--pink);
}
.watch-list{
  position: absolute;
}

/* ACTIVE-HOVER  */
.nav-list-link:hover{
  text-decoration: underline;
}
.nav-list-link:focus{
  background-color:#fff;
  padding: 5px 32px;
  color: #B6CCDA;
  font-weight: 600;
  border-radius: 100px;
}
.button:hover{
  background-color:#fff;
  color: #B6CCDA;
  font-weight: 600;
  opacity: 0.8;
}
.button:active{
  background-color:#fff;
  color: #B6CCDA;
  font-weight: 600;
  opacity: 0.6;
}



@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

}
