/* CUSTOM PROPS */
:root {

}

:root[data-theme="light"] {

}

:root[data-theme="dark"] {

}


/* GLOBAL */
body {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  font-family: "Poppins","Arial", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  background-color: #C8DCE5;
  color: #fff;
}

img {
  height: auto;
}


/* AUTOFILL-STYLES */
/*input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-color: transparent;
  -webkit-text-fill-color: inherit;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}*/


/* PLACEHOLDER-STYLES */
/*::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder {
  color: rgba(52, 49, 61, 0.5);
  opacity: 1;
}*/


/* VISUALLY-HIDDEN */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* CONTAINER */
.container {
  width: 100%;
  max-width: 1440px;
  padding-left: 100px;
  padding-right: 100px;
  margin-left: auto;
  margin-right: auto;
}


/* MAIN-CONTENT */
.main-content {
  flex-grow: 1;
}

.sideboard {

}
.navbar {
  display: flex;
  align-items: center;

}
.navbar-list{
  display: flex;
}
.nav-list {
  display: flex;
  list-style: none;

}
.nav-list-item {
}
.search-bag {
}
.search {
}
.vertical-line {
}
.bag {
}
.content-text {
}
.buy-now {
}
.content-img {
}
.main-img {
}
.end-header {
}
.indicator {
}
.left {
}
.indicator-page {
}
.right {
}
.watches-page {
}
.watch1 {
}
.watch2 {
}
.watch3 {
}












@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

}
